.mini-card {
    border:solid 10px #780116;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #F8F0E3;
}

.delete-button {
    border: none;
    width: 1.25vw;
    background-color: transparent;
    font-size: 1.2em;
    color: #780116;
    cursor: pointer;
}