main {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
}

.home {
  border: solid 10px #780116;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 30px;
  background-color: #F8F0E3;
  margin-top: 4vh;
}

.description > h2 {
  font-size: 2.5em;
  margin-top: 8vh;
}

.description > p, .select-text {
  font-size: 1.5em;
}

.select-text {
  margin-top: 15vh;
}

.choices {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.compliments-button, .jokes-button {
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-color: #780116;
  background-color: white;
  font-size: 1.1em;
  color: #780116;
}

.compliments-button:hover, .jokes-button:hover {
  transform: scale(1.2);
}