main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-family:'Baloo 2', cursive;
}

.home {
  border: solid 10px #780116;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin-top: 4vh;
  padding: 50px;
  height: 60vh;
  width: 65vw;
  background-color: #F8F0E3;
}

.description > h2 {
  margin-top: 4vh;
  font-size: 2.2em;
}

.description > p, .select-text {
  font-size: 1.2em;
}

.select-text {
  margin-top: 10vh;
}

.choices {
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
}

.compliments-button, .jokes-button {
  border-radius: 50%;
  border-color: #780116;
  height: 150px;
  width: 150px;
  cursor: pointer;
  font-size: 1.1em;
  background-color: white;
  color: #780116;
}

.compliments-button:hover, .jokes-button:hover {
  transform: scale(1.2);
}