nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border:solid 5px #780116;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: #F8F0E3; */
    height: 14vh;
    width: 100%;
}

h1 {
    color: #F8F0E3;
    margin-left: 2vw;
}

.show-saved-button {
    cursor: pointer;
    font-size: 1em;
    border-style: none;
    background-color: transparent;
    color: #F8F0E3;
    margin-right: 2vw;
}